@model IEnumerable<MiniProjectMVC.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Student`s Data</h1>

<p>
    <a asp-action="Create">Add New data</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rollno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stream)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rollno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stream)
                </td>
                <td>
                    @Html.ActionLink("Edit Student", "Edit", new {  id=item.Rollno  }) |
                    @Html.ActionLink("Get Details", "Details", new {  id=item.Rollno }) |
                    @Html.ActionLink("Delete Data", "Delete", new {  id=item.Rollno  })
                </td>
            </tr>
        }
    </tbody>
</table>